.card {
    color: white;
    width: 50%;
    height: auto;
    position: relative;
    top: 150px;
    left: 350px;

    background-color: #557685;
    border-radius: 0 1 20px;

    -webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.card-titulo, .card-desc {
    margin: 10px;

}