{% extends "base.html" %}

{% block content %}
{% include "header.html" %}
{% include "aside.html" %}

<div class="container-items">
    <div class="row">
        <div class="six columns items">

            <div class="nine columns card">
                    {% if item %}
                    <span class="card-titulo">{{ item.nome }}</span>
                    <p class="card-desc">{{ item.descricao }}</p>
                    {% endif %}
                </div>
        </div>
    </div>
</div>
{% endblock %}