{% extends "base.html" %}

{% block content %}
{% include "header.html" %}
<div class="bloco-login">
    <form method="post" action="{{ url_for('login_usuario') }}">
        <div class="row">
            <div class="full columns">
                <input class="u-full-width" type="text" placeholder="Usuario" name="nickname" id="nickname" required>
            </div>
        </div>
        <div class="row">
            <div class="full columns">
                <input class="u-full-width" type="password" placeholder="********" name="inputPwd" id="inputPwd"
                    required>
            </div>
        </div>
        <div class="row">
            <div class="two columns">
                <input class="button-primary btn-logar" type="submit" value="Login">
            </div>
        </div>
        <span><a class="frase-registrar" href="{{url_for('registrar')}}">Registre-se</a></span>
    </form>
</div>
<div id="signinButton">
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
</div>

<script>

    function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
        console.log('prof', profile)

        $.ajax({
                type: 'POST',
                url: '/gcon/' + id_token,
                processData: false,
                data: JSON.stringify(profile),
                contentType: 'application/octet-stream; charset=utf-8',
                success: function (result) {
                    // Handle or verify the server response if necessary.
                    if (result) {
                        //$('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
                        setTimeout(function () {
                            window.location.href = "/";
                        }, 1100);
                    } else {
                        //$('#result').html('Failed to make a server-side call. Check your configuration and console.');
                    }
                }
            });
    }

</script>

{% endblock %}